body{
    background-color: black;
}
header{
    background-color: black;
}
.logo{
    margin-top: 2%;
    margin-right: 3%;
    width: 100px;
    height: 100px;
}
.titulo{
    color: azure;
    text-align: justify;
    margin-left: 6%;
    margin-inline-start: 15%;
}

.subtitulo{
    color: black;
    background-color: aliceblue;
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 1px;
}
.navbar {
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Para asegurar que los bordes redondeados funcionen correctamente */ 
}
.button{
    
    margin-left: 28%;
    padding: 15px;
    background-color: aliceblue;
    color: black;
    border-radius: 5%;
    font-weight: 800;
}
.button2{
    margin-left: 4%;
    padding: 15px;
    background-color: aliceblue;
    color: black;
    border-radius: 5%;
    font-weight: 800;
    font-size: 12px;
}
.sub{
    text-align: center;
}
.text{
    text-align: center;
    text-align: justify;
    background-color: aliceblue;
    color: black;
    padding: 18px;
    margin: 0%;
}
.iframe{
    margin-left: 30%;
}
.list{
    text-align: justify;
}
.text-list{
    text-align: center;
    background-color: aliceblue;
    color: black;
    margin: 0%;
}
.button:hover{
    transform: scale(1.05);
    color: rgb(22, 121, 13);
    }

    .button2:hover{
        transform: scale(1.05);
        color: rgb(22, 121, 13);
        }
.image-container {
            margin-left: 200px;
            width: 400px; /* Ajusta el tamaño según tus necesidades */
            height: auto; /* Mantiene la proporción de la imagen */
            overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
            position: relative; /* Necesario para el posicionamiento de los elementos hijos */
            border-radius: 15px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
            transition: transform 0.3s ease-in-out; /* Transición para el efecto de hover */
          }
          
          .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Asegura que la imagen cubra el contenedor */
            border-radius: 15px; /* Bordes redondeados */
          }
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
.footer .container div {
    flex: 1 1 300px;
    padding: 10px;
}
.footer h3 {
    margin-bottom: 15px;
}
.footer p, .footer a {
    color: #bbb;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}
.footer a:hover {
    color: white;
}
.footer .social-icons {
    margin-top: 10px;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #bbb;
    font-size: 1.5em;
    transition: color 0.3s;
}
.footer .social-icons a:hover {
    color: white;
}
.footer-bottom {
    background-color: #222;
    color: #bbb;
    padding: 10px 0;
    margin-top: 20px;
}

.resolution{
    width: 100%;
 }
 @media (max-width: 800px){
    .logo{
        width: 70px;
        height: 70px;
    }
    .titulo{
        font-size: 24px;
    }
    .subtitulo{
        font-size: 18px;
    }
    .container{
        padding: 10px;
    }
    .navbar{
        font-size: 12px;
    }
    .button{
        font-size: 10px;
    }
    .button2{
        font-size: 10px;
    }
    .iframe{
        margin-left: 15%;
    }
    .text{
        font-size: 16px;
    }
    .text-list{
        font-size: 16px;
    }
    .image-container {
        margin-left: 100px;
        width: 300px;
        border-radius: 10px;
      }
      .footer{
        flex-direction: column;
      }
      .footer.container div {
        flex: 1 1 200px;
      }
      .footer-bottom{
        flex-direction: row;
        
      }
 }
